body {
    font-family: 'Roboto', sans-serif;
}

ul, h1, h2, h3, h4, p{
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
header{
    border-bottom: 1px solid #ECECEC;
}


.Web{
    color: #2196F3;
}
.header-right-content:hover{
    color: #2196F3;
    transition: color 250ms;
}
.header-right{
    display: flex;
    justify-content: space-between;
    width: 307px;
    align-items: center;
}
.header-left{
    display: flex;
    justify-content: space-between;
    width: 520px;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
}

.header-ul1{
    display: flex;
    justify-content: space-between;
    width: 281px;
    align-items: center;
}

.container{
    width: 1600px;
    margin: 0 auto;
}

.header-main{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0 ;
}

.header-left{
    display: flex;
    justify-content: space-between;
    width: 520px;
}
.nav-list-text{
    position: relative;
    text-decoration: none;
    color: #212121;
}
.nav-list-text:hover{
    color:#2196F3;
}

.nav-list-link{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-list-text::after{
    transition: all 500ms;
    position: absolute;
    top: 44px;
    left: 0;
    content: '';
    width: 0;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
}

.nav-list-text:hover::after{
    width: 100%;
}


.header-right{
    display: flex;
    justify-content: space-between;
    width: 333px;
    align-items: center;
}

.svg-mail{
    margin-right:10px;
    fill: #757575;
}

.header-right-content:hover .svg-mail{
    fill: #2196F3;
}

.header-right-content{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #757575;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-right-content:hover{
    color: #2196F3;
}

.button-ul{
    display: flex;
    justify-content: space-between;
    width: 575px;
    margin: 86px 512px 34px;
    
}
.button-li:hover{
    background-color: #2196F3;
}


.button-li{
    display: flex;
    margin: 0 auto;
    background: #F5F4FA;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 38px;
}

.filter{
    padding: 6px 22px;
    background: #f5f4fa;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filter:hover, .filter:focus{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    background-color: #2196F3;
    color: #F5F4FA;
    transition: background-color 250ms;
}

.button-p{
    display: flex;
    justify-content: center;
    margin-top:6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #212121;
}

.list-of-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    height: 1360px;
}

.list-li{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 370px;
    height: 404px;
}

.list-li:hover{
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

/* -----------------OVERLAY--------------------- */
/* -----------------OVERLAY--------------------- */
/* -----------------OVERLAY--------------------- */
/* -----------------OVERLAY--------------------- */

.all-img{
    width: 370px;
    height: 294px;
}

.overlay{
    width: 370px;
    height: 294px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

.overlay:hover .hidden{
    transform: translateY(0);
}

.hidden{
    padding: 63px 0;
    background-color: rgba(33, 150, 243, 0.90);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(-100%);
    transition: transform 1s ease;
}

.hidden-p{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
}

/* -----------------OVERLAY--------------------- */
/* -----------------OVERLAY--------------------- */
/* -----------------OVERLAY--------------------- */
/* -----------------OVERLAY--------------------- */

.list-h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    width: 322px;
    height: 36px;
    margin: 20px 24px 4px;
}

.list-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
}

.contact-list{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    }

.footer{
    background:#2F303A;
    padding: 60px 0 60px;
}
    
.studio{
    display: block;
    margin-bottom: 20px;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
    
.footer-text{
    color: #FFFFFF;
}
    
.footer-contact{
    display: flex;
    margin-bottom: 9px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,71%; /* 171.429% */
    letter-spacing: 0.42px;
}
    
.contact-mail{
    display: flex;
    margin-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    display: block;
}
    
    
.contact-list:not(:last-child){
    padding-bottom: 9px;
}
    
.footer-main{
    margin: 0 215px 0 215px;
    width: 1200px;
    display: flex;
}
    
.footer-left{
    width: 231px;
}
    
.footer-h2{
    color: #FFF;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
    
.footer-mail-list{
    margin-top: 20px;
}
    
.footer-right{
    padding-top: 12px;
    margin-left: 70px;
    width: 206px;
    height: 80px;
}
    
.footer-svg-content{
    width: 20px;
    height: 20px;
    fill: #fff;
}
    
.footer-list-a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(205, 214, 219, 0.1);
    width: 44px;
    height: 44px;
}
    
.footer-list-a:hover{
    transition: background-color 250ms;
    border-radius: 50%;
    background-color: #2196F3;
}
    
.footer-mail-list{
    justify-content: space-between;
    display: flex;
}